@media only screen and (min-width: 1028px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    #first {
        grid-column: 1 / 2;
    }

    #second {
        grid-column: 2 / 3;
    }

    #third {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
} /* end of media query*/