@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* BODY */
body {
    font-family: Open Sans, sans-serif;
    color: #333;
    background-color: whitesmoke;
}

/* HEADER */
header {
    background-color: #c1dff0;
    font-family: Pacifico, Open Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    width: 120px;
    height: auto;
    margin: 1em;
}

#headings {
    display: flex;
    flex-direction: column;
}

#headings h1, h2 {
    margin: 0;
}

#headings h2 {
    font-size: 12pt;
    margin-top: 5px;
}

/* NAVIGATION */
nav {
    background: rgb(5,74,145);
    background: linear-gradient(35deg, rgba(5,74,145,1) 19%, rgba(98,144,195,1) 100%);
    font-family: Open Sans, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: .4rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #eee;
}

nav ul.hide {
    display: none;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 14pt;
    text-align: center;
}

nav ul li:first-child {
    border-top: 1px solid #333;
}

nav ul li a:hover {
    background-color: #91c4f2;
    color: #333;
}

nav ul li.active a {
    background-color: #6290c3;
    color: #fff;
    font-weight: bold;
}

/* MAIN */
main {
    padding: 1rem;
}

main h1 {
    font-family: Pacifico, Open Sans, sans-serif;
    margin-bottom: 1rem;
}

main section {
    background: rgb(5,74,145);
    background: linear-gradient(35deg, rgba(5,74,145,1) 19%, rgba(98,144,195,1) 100%);
    border-radius: 10px;
    padding: 1rem;
    color: #eee;
    margin-bottom: 1rem;
}

/* FOOTER */
footer {
    background-color: #c1dff0;
    padding: .5rem 2%;
    text-align: center;
    font-size: 10pt;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}